.dis, .fixed-slab img, .mid-lab .fsamp-cl {
  display: inline-block; }

.disB, .mid-lab {
  display: block; }

.clearF {
  clear: both; }

.fixed-slab {
  width: 100%;
  height: 130px;
  background-color: #fff; }

.ele-btn-cl {
  font-size: 18px;
  margin-left: 20px;
  margin-top: 10px;
  display: inline-block; }

.ele-btn-icon {
  font-size: 20px; }

.fixed-slab img {
  width: 110px;
  height: auto;
  float: left;
  margin-top: 34px;
  margin-left: 20px;
  margin-bottom: 10px; }

.element-selector-cl {
  overflow: auto;
  width: 320px;
  height: 600px; }

.element-box-com-cl, .element-selector-cl .element-box, .element-selector-cl .element-box-cl {
  height: 50px;
  color: #fff;
  font-family: "Titillium Web", "Arial", sans-serif;
  cursor: pointer; }

.element-selector-cl .element-box {
  background-color: #3e4652; }

.element-selector-cl .element-box-cl {
  background-color: #545f6f;
  border-color: #3e4652;
  border: 0.5px solid #3e4652; }

.mid-lab {
  background-color: #e74c3c;
  height: 35px;
  margin-top: 5px;
  text-align: center; }

.mid-lab .fsamp-cl {
  color: #fff;
  font-family: "Titillium Web", "Arial", sans-serif;
  font-size: 20px;
  cursor: pointer;
  margin-top: 0px;
  height: 35px;
  padding-left: 4px;
  padding-right: 4px; }
  .mid-lab .fsamp-cl:hover {
    background-color: #C92918; }
