$baseColor: #8e44ad;
$baceHoverColor: #7a2a9c;
$basePanelColor: #3e4652;
$baseButton: #545f6f;
$secondaryColor: #e74c3c;
$secondaryHoverColor: #C92918;
$errorBackground: #fd796b;
$bigFont: 'Special Elite', cursive;
$smallFont: 'Play', sans-serif;
$generalFont: 'Titillium Web', 'Arial', sans-serif;
$dragColor: #908d8d;

.dis {
  display: inline-block;
}

.disB {
    display: block;
}

.commonTopMargin {
    margin-top: 20px;
}

.clearF {
    clear: both;
}

.logo-img {
    display: inline-block;
    width: 48px;
    height: 48px;
    margin-top: 0px;
}

.fixed-slab {
  width: 100%;
  height: 130px;
  background-color: #fff;
  /*position: fixed;*/
}

.big-cont {
    /*margin-top: 130px;*/
    margin-left: 340px;
    /*height: 700px;*/
}

@mixin btn-del {
        width: 4%;
        float: left;
}

@mixin heading-delete-cl {
        @extend .dis;
        height: 30px;
        margin-left: 2px;
        font-size: 30px;
        color: $secondaryColor;
        cursor: pointer;
}

@mixin heading-drag-cl {
        @extend .dis;
        height: 30px;
        margin-left: 2px;
        font-size: 30px;
        cursor: pointer;
}

.show-ele {
    /*display: block !important;*/
    display: inline-block;
}

.hide-ele {
    display: none;
}

.head-li-cl {
    display: none;
}


.exp-head-cl {
    @extend .dis;
    width: 800px;
    float: left;
}

.head-cl {
    
    width: 880px;
    
    .heading-cl {
        @extend .dis;
        width: 100%;
        height: 80px;
        font-size: 30px;
        text-align: center;
        float: left;
        
    }
    
    .sub-heading-cl {
        @extend .dis;
        width: 100%;
        height: 40px;
        margin-top: 4px;
        text-align: center;
        float: left;
    }
    
    .heading-drag-cl {
        @include heading-drag-cl;
    }
    
    .heading-delete-cl {
        @include heading-delete-cl;
    }
    
    .btn-del {
        @include btn-del;
    }
    
}





.ele-btn-cl {
    font-size: 18px;
    margin-left: 20px;
    margin-top: 10px;
    display: inline-block;
}

.ele-btn-icon {
    font-size: 20px;
}

.fixed-slab {
  
  img {
    @extend .dis;
    width: 110px;
    height: auto;
    float: left;
    margin-top: 34px;
    margin-left: 20px;
    margin-bottom: 10px;
  }
}

.element-selector-cl {
    overflow: auto;
    width: 320px;
    height: 500px;
    float: left;
    /*margin-top: 130px;*/
    /*position: fixed;
    z-index: 999;*/
}

.element-box-com-cl {
    height: 52px;
    color: #fff;
    font-family: $generalFont;
    cursor: pointer;
}

.element-selector-cl {
    .element-box {
        @extend .element-box-com-cl;
        background-color: $basePanelColor;
    }
    
    .element-box-cl {
        @extend .element-box-com-cl;
        z-index: 999;
        background-color: $baseButton;
        border-color: $basePanelColor;
        border: 0.5px solid $basePanelColor;
    }
    
}

li {
   list-style: none;
}

.mid-lab {
    @extend .disB;
    background-color: $secondaryColor;
    height: 35px;
    margin-top: 5px;
    text-align: center;
}

.mid-lab {
    .fsamp-cl {
        @extend .dis;
        color: #fff;
        font-family: $generalFont;
        font-size: 20px;
        cursor: pointer;
        margin-top: 0px;
        height: 35px;
        padding-left: 4px;
        padding-right: 4px;
        &:hover {
            background-color: $secondaryHoverColor;
        }
    }
    
    
}

.survey-Q-li-cl {
    display: none;
}



.survey-Q-cl {
    
    .exp-question-cl {
        width: 800px;
        display: inline-block;
        float: left;
    }
    
    /*display: none;*/
    width: 880px;
    .question-cl {
        @extend .dis;
        @extend .commonTopMargin;
        width: 100%;
        height: 40px;
        
        font-size: 19px;
        text-align: left;
        float: left;
    }
    
    .heading-drag-cl {
        @include heading-drag-cl;
    }
    
    .heading-delete-cl {
        @include heading-delete-cl;
    }
    
    .btn-del {
        @include btn-del;
    }
}

.exp-image-samp-cl {
    display: inline-block;
    float: left;
}

.image-samp-cl {
    display: inline-block;
    float: left;
    img {
        @extend .commonTopMargin;
        border: 1px solid $baseButton;
        
        float: left;
    }
    
}

.image-uploader-Q-li-cl {
    display: none;
}

.image-uploader-Q-cl {
    
    /*display: none;*/
    
    .heading-drag-cl {
        @include heading-drag-cl;
        margin-top: 20px !important;
    }
    
    .heading-delete-cl {
        @include heading-delete-cl;
    }
    
    .btn-del {
        @include btn-del;
    }
}

.file-inp-cl {
    input {
        @extend .disB;
        margin-top: 4px;
    }
}

.group-cl {
    .group-radio-cl {
        float: left;
    }
    .group-text-cl {
        float: left;
    }
}

.radio-selector-li-cl {
    display: none;
}

.radio-selector-cl {
     width: 880px;
    /*display: none;*/
    
    .group-cl {
        @extend .dis;
        margin-top: 4px;
        float: left;
    }
    .group-text-cl {
        width: 394px;
        float: left;
    }
    .heading-drag-cl {
        @include heading-drag-cl;
        height: 10px !important;
        font-size: 14px !important;
    }
    
    .heading-delete-cl {
        @include heading-delete-cl;
        height: 10px !important;
        font-size: 14px !important;
    }
    
    .btn-del {
        @include btn-del;
        margin-top: 0px !important;
        width: 2% !important;
    }
}

.file-uploader-li-cl {
    display: none;
}

.file-uploader-cl {
    width: 880px;
    /*display: none;*/
    
    .heading-drag-cl {
        @include heading-drag-cl;
        height: 10px !important;
        font-size: 14px !important;
    }
    
    .heading-delete-cl {
        @include heading-delete-cl;
        height: 10px !important;
        font-size: 14px !important;
    }
    
    .btn-del {
        @include btn-del;
        margin-top: 0px !important;
        width: 2% !important;
    }
    
    .file-upload-holder-cl {
        @extend .dis;
        width: 397px;
        float: left;
        border: 1px solid $baseButton;
    }
}

.file-uploader-cl {
    @extend .commonTopMargin;
}

.text-area-li-cl {
    display: none;
}

.text-area-cl {
    /*display: none;*/
    @extend .commonTopMargin;
    width: 880px;
}

.help-bth-cl {
        width: 10%;
        /*25*/
        height: 30px;
        float: left;
        cursor: pointer;
        background-color: $baseColor;
        text-align: center;
        position: fixed;
        margin-left: 90%;
        z-index: 1000;
        
        p{
            font-size: 18px;
            color: #dedede;
        }
    }

.help-element-cl {
    width: 0%;
    margin-left: 100%;
    z-index: 999;
    position: fixed;
    
    
    
    .help-contents-cl {
        float: left;
        background-color: $baseButton;
        height: 500px;
        /*75*/
        width: 0px;
        overflow: hidden;
        .help-heading-cl {
            color: #dedede;
            text-align: center;
            margin-top: 10px;
            font-size: 18px;
        }
        .help-info-fr-cl {
            margin-top: 10px;
            color: #dedede;
            margin-left: 2px;
            margin-right: 2px;
        }
    }
}

.form-save-cl, .form-preview-cl, .form-reset-cl {
    display: inline-block;
    width: 33.3333%;
    background-color: $baseButton;
    float: left;
    color: #dedede;
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
    cursor: pointer;
    
}

.form-save-cl  {
    background-color: $baseButton;
    &:hover {
        background-color: $basePanelColor;
    }
}

.form-preview-cl, .form-reset-cl {
    background-color: $secondaryColor;
    &:hover {
        background-color: $secondaryHoverColor;
    }
}

.text-area-cl {
    .text-grp-cl{
            textarea {
                @extend .disB;
                float: left;
            }
        }
    
    .heading-drag-cl {
        @include heading-drag-cl;
    }
    
    .heading-delete-cl {
        @include heading-delete-cl;
    }
    
    .btn-del {
        @include btn-del;
    }
}


.checkbox-selector-li-cl {
    display: none;
}

.checkbox-selector-cl {
    
    width: 880px;
    /*display: none;*/
    
    .group-cl {
        @extend .dis;
        margin-top: 4px;
        float: left;
    }
    .group-text-cl {
        width: 384px;
        float: left;
    }
    .heading-drag-cl {
        @include heading-drag-cl;
        height: 10px !important;
        font-size: 14px !important;
    }
    
    .heading-delete-cl {
        @include heading-delete-cl;
        height: 10px !important;
        font-size: 14px !important;
    }
    
    .btn-del {
        @include btn-del;
        margin-top: 0px !important;
        width: 2% !important;
    }
}

.drop-down-opt-li-cl {
    display: none;
}

.exp-DD-opt-cl {
    @extend .disB;
    float: left;
}

.drop-down-opt-cl {
    /*display: none;*/
    display: inline-block;
    @extend .commonTopMargin;
    width: 800px;
}

.drop-down-opt-cl {

        .DD-opt-cl {
            select {
                height: 30px;
                width: 410px;
                float: left;
            }
        }

        .DD-opt-txt {
           
            @extend .dis;
            margin-top: 4px;
            float: left;
        }
    
    /*.btn-del {
        width: 2%;
        margin-top: 0px;
        float: left;
    }
    .heading-drag-cl {
        @extend .dis;
        height: 10px;
        margin-left: 2px;
        font-size: 14px;
        cursor: pointer;
    }
    
    .heading-delete-cl {
        @extend .dis;
        height: 10px;
        margin-left: 2px;
        font-size: 14px;
        color: $secondaryColor;
        cursor: pointer;
    }*/
    .heading-drag-cl {
        @include heading-drag-cl;
        height: 10px !important;
        font-size: 14px !important;
    }
    
    .heading-delete-cl {
        @include heading-delete-cl;
        height: 10px !important;
        font-size: 14px !important;
    }
    
    .btn-del {
        @include btn-del;
        margin-top: 0px !important;
        width: 2% !important;
    }
}

.full-name-li-cl {
    display: none;
}

.full-name-cl {
    
    width: 880px;
    
    .full-cont-cl {
        @extend .dis;
        width: 510px;
        float: left;
        
        .flab-cl {
            float: left;
            margin-right: 4px;
        }
        .flab-input-cl {
            float: left;
            margin-right: 2px;
            margin-left: 2px;
        }
        
    }
    
    .heading-drag-cl {
        @include heading-drag-cl;
        height: 10px !important;
        font-size: 14px !important;
    }
    
    .heading-delete-cl {
        @include heading-delete-cl;
        height: 10px !important;
        font-size: 14px !important;
    }
    
    .btn-del {
        @include btn-del;
        margin-top: 0px !important;
        width: 2% !important;
    }
    
}

.full-name-cl {
    @extend .commonTopMargin;
}

.long-text-li-cl {
    display: none;
}

.long-text-cl {
    
    .long-text-id-cl{
         @extend .dis;
         width: 650px;
         float: left;
    }
    .long-text-inp-cl{
        width: 620px;
    }
    .heading-drag-cl {
        @include heading-drag-cl;
        height: 10px !important;
        font-size: 14px !important;
    }
    
    .heading-delete-cl {
        @include heading-delete-cl;
        height: 10px !important;
        font-size: 14px !important;
    }
    
    .btn-del {
        @include btn-del;
        margin-top: 0px !important;
        width: 2% !important;
    }
}

.err-hide {
    display: none;
}

.err-show {
    @extend .dis;
    width: 800px;
    font-size: 16px;
    background-color: red;
        //$errorBackground;
    //border-radius: 250px;
    border: 3px solid red;
        //$secondaryHoverColor;
    color: #dedede;
}

.star-text-cl {
    display: block;
}

.number-li-cl, .email-address-li-cl, .date-li-cl, .time-li-cl, .button-li-cl, .short-text-li-cl, .spinner-li-cl, .scale-li-cl, .star-li-cl {
    display: none;
}
.email-address-cl, .date-cl, .time-cl, .button-cl, .short-text-cl, .number-text-cl, .spinner-text-cl, .scale-text-cl, .star-text-cl {
    /*display: none;*/
    width: 880px;
    
    .star-text-id-cl {
        display: inline-block;
    }
    
    .email-id-cl, .date-id-cl, .time-id-cl, .button-id-cl, .short-text-id-cl, .number-text-id-cl, .spinner-text-id-cl, .scale-text-id-cl, .star-text-id-cl {
        @extend .dis;
        width: 250px;
        float: left;
        
        .email-id-lab, .date-id-lab, .time-id-lab {
            float: left;
        }
        
        .email-id-inp {
            float: left;
            margin-right: 4px;
            margin-left: 4px;
        }
    }
    
    .heading-drag-cl {
        @include heading-drag-cl;
        height: 10px !important;
        font-size: 14px !important;
    }
    
    .heading-delete-cl {
        @include heading-delete-cl;
        height: 10px !important;
        font-size: 14px !important;
    }
    
    .btn-del {
        @include btn-del;
        margin-top: 0px !important;
        width: 2% !important;
    }
    
}

.postal-address-li-cl {
    display: none;
}

.postal-address-cl {
    
    /*width: 880px;*/
    
    .postal-address-id-cl {
        @extend .dis;
        width: 384px;
        float: left;
        
        
        .postal-address-content {
        width: 385px;
        float: left;
        .street-add, .city-add, .state-add {
            @extend .dis;
            width: 384px;
            float: left;
            margin-top: 4px;
        }
        .city-add, .state-add {
            width: 190px !important;
        }
        .state-add {
            margin-left: 3px;
        }
    }
        
    }
    
    
    .heading-drag-cl {
        @include heading-drag-cl;
        height: 10px !important;
        font-size: 14px !important;
    }
    
    .heading-delete-cl {
        @include heading-delete-cl;
        height: 10px !important;
        font-size: 14px !important;
    }
    
    .btn-del {
        @include btn-del;
        margin-top: 0px !important;
        width: 2% !important;
    }
}

.postal-address-cl {
    @extend .commonTopMargin;
    @extend .dis;
    width: 880px;
    
}

.Phone-num-li-cl {
    display: none;
}

.Phone-num-cl {
    
    width: 880px;
    
    .Phone-id-cl {
        .Phone-id-lab {
            float: left;
        }
        .code-inp {
            float: left;
            margin-left: 4px;
            width: 50px;
        }
        .num-inp {
            float: left;
            width: 224px;
        }
        span {
           float: left;
           margin-left: 2px;
           margin-right: 2px;
        }
    }
    
    .heading-drag-cl {
        @include heading-drag-cl;
        height: 10px !important;
        font-size: 14px !important;
    }
    
    .heading-delete-cl {
        @include heading-delete-cl;
        height: 10px !important;
        font-size: 14px !important;
    }
    
    .btn-del {
        @include btn-del;
        margin-top: 0px !important;
        width: 2% !important;
    }
    
}

.Phone-num-cl {
     @extend .commonTopMargin;
}

.header-start-cl {
        background-image: url(img/mmc-web.jpg);
        background-position: center;
        background-size:  cover;
        width: 100%;
        height: 500px;
    
    .hero-btn-cl {
        @extend .dis;
        width: 20%;
        height: 50px;
        margin-left: 40%;
        margin-right: 40%;
        margin-top: 200px;
        text-align: center;
        background-color: $baseColor;
        .btn-start-cl {
            font-size: 35px;
            color: #fff;
            cursor: pointer;
        }
        &:hover {
            background-color: $baceHoverColor;
        }
    }
    
}

.container-fluid {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.survey-mid-cl, .survey-contact-cl {
    background-color: #dedede;
}

.survey-top-mid-cl, .survey-mid-cl, .survey-testi-cl, .survey-contact-cl {
    
    
    
    img {
        @extend .dis;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 20px;
        margin-bottom: 20px;
        height: auto;
    }
    .lab-cl {
        @extend .dis;
        width: 90%;
        margin-right: 5%;
        margin-left: 5%;
        margin-top: 60px;
        font-size: 25px;
        text-align: center;
        font-weight: 500;
    }
    .para-cl {
        @extend .dis;
        width: 80%;
        font-size: 18px;
        margin-right: 10%;
        margin-left: 10%;
        margin-top: 40px;
        margin-bottom: 60px;
        
        .person-name-cl {
            @extend .dis;
            width: 30%;
            margin-right: 35%;
            margin-left: 35%;
            text-align: center;
        }
        
        .contact-btn-cl {
            @extend .dis;
            width: 10%;
            margin-left: 45%;
            margin-right: 45%;
            text-align: center;
            background-color: $baseColor;
            color: #dedede;
            cursor: pointer;
            &:hover {
                background-color: $baceHoverColor;
            }
        }
    }
}

.survey-footer-cl {
    
    background-color: $secondaryColor;
    .survey-frm img{
        @extend .dis;
        width: 200px;
        height: auto;
        float: left;
        margin-top: 30px;
        margin-left: 20px;
    }
    .copy-rcl p {
        font-size: 18px;
        margin-left: 20px;
        color: #dedede;
    }
}

.container-for-form-ele-cl {
    border: 1px dashed $baseButton;
    margin-top: 20px;
    .drag-here-cl h1{
        @extend .dis;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 25px;
        text-align: center;
        
    }
}

/*------------------*/
/* SETUP */
/*------------------*/

*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html,
body{
    
    background-color: #fff;
    color: #555;
    font-family:  'Titillium Web', 'Arial', sans-serif; /* Could be changed accordingly */
    /*font-weight: 300;*/
    /*font-size: 15px;*/
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    /*overflow-y: hidden;*/
}


.img-hold {
    display: inline-block;
    max-width: 100%;
    height: 400px;
    overflow: hidden;
}

.img-hold img {
    margin-top: 4px;
    width: 400px;
    height: 400px;
}

.img-hold-big {
    display: inline-block;
    max-width: 100%;
    height: 1000px;
    overflow: hidden;
}

.img-hold-big img {
    margin-top: 4px;
    max-width: 100%;
}

*:focus {outline: none;}

/*-----------------------------------*/
/* CLEAR FLOAT FOR RESPONSIVE DESIGN */
/*-----------------------------------*/

.clearfix {
    
    zoom: 1;
    
}

.clearfix:after {
    
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
    
}

/*----------------------------------------*/
/* REMOVE TEXT DECORATION FROM ANCHOR TAG */
/*----------------------------------------*/

a {
    
    text-decoration: none;
    border: none;            /* Not recommended should be combined with hover and active state */
    outline: none;           /* Not recommended should be combined with hover and active state */
    
}

/*----------------------------------------*/
/* ROW SIZE FOR DESIGN */
/*----------------------------------------*/
/* -- 1 Should be Normalize -- */
/* -- 2 Should be Grid -- */
/* -- 3 Should be local -- */

/*.row{
    
    max-width: 1140px;  Not necessary pixel size, should be according to design 
    margin: 0 auto;
    
}*/

/*-----------------------------------------*/
/* HEADING ELEMENTS */
/*-----------------------------------------*/

h1,
h2,
h3 {
    
    font-weight: 300;
    text-transform: uppercase;
    
}

/*-----------------------------------------*/
/* INPUT ELEMENTS */
/*-----------------------------------------*/

/*input[type=text],
input[type=email],
input[type=password],
select,
textarea{
    
    width: 100%;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
    resize: none;
}*/

/*-----------------------------------------*/
/* UL ELEMENTS */
/*-----------------------------------------*/

ul {
    list-style: none;
}


